<div>
  <%=@msg%>
</div>
<div>
  <form　method="post" action="main">
    <table>
      <tr>
        <td>
        <p>ユーザー名</p>
        </td>
        <td>
        <input type='text' value=''/>
        </td>
      </tr>
      <tr>
        <td>
          <p>パスワード</p>
        </td>
        <td>
        <input type='text' value=''/>
        </td>
      </tr>
      <tr>
        <td>
        <input type='button' value='ログイン'/>
        </td>
      </tr>
    </table>
  </form>
</div>
