<div>
  <%=@msg%>
</div>
<div>
  <form　method="post" action="http://localhost:3000/login/tomain">
    <table>
      <tr>
        <td>
        <p>ユーザー名</p>
        </td>
        <td>
        <input type='text' value=''/>
        </td>
      </tr>
      <tr>
        <td>
          <p>パスワード</p>
        </td>
        <td>
        <input type='text' value=''/>
        </td>
      </tr>
      <tr>
        <td>
        <button type='submit' value='send'>ログイン</button>
        </td>
      </tr>
    </table>
  </form>
  <% @test.each do |test| %>
  <%= test.userid %><br>
  <%= test.password %><br>
  <% end %>
</div>
