<div>
  <%=@msg%>
</div>
<div>
  <form action="http://localhost:3000/login/tomain" method="get">
    <table>
      <tr>
        <td>
        <p>ユーザー名</p>
        </td>
        <td>
        <input id="id" name="id" type="text" value=""/>
        </td>
      </tr>
      <tr>
        <td>
          <p>パスワード</p>
        </td>
        <td>
        <input id="pass" name="pass" type="text" value=""/>
        </td>
      </tr>
      <tr>
        <td>
        <button type="submit" value="send">ログインします！</button>
        </td>
      </tr>
    </table>
  </form>
</div>
